body {

	background-image: url("https://3episodetest.files.wordpress.com/2014/12/mahouka-01.jpg");
    background-size: cover;
    background-position: center center;
	font-family: monospace;

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 5em;
    font-family:Ayuthaya;
    text-transform: uppercase;
    text-shadow: 5px 5px 8px rgba(27, 25, 25, 0.74);
}

.button {
    border:outset;
    border-width:6px;
    border-color:#67A0E1;
    padding: 20px 50px;
    font-size: 4em;
    border-radius:5px;
    text-decoration: none;
    box-shadow: 20px 20px 100px #666;
    font-family:Ayuthaya;
    text-transform:uppercase;
    background: #0e8dbc;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}
  a.button:hover {
    background-color: #00FF00;
    color: black;

  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: url("http://orig15.deviantart.net/5c25/f/2014/297/5/0/pokemon_x_and_y_wifi_battle_background_by_phoenixoflight92-d841b5t.jpg");
	background-position: bottom center;

}

.go {
	position: absolute;
	color: white;
	position: absolute;
    padding: 20px 10px;
    color: white;
    font-size: 6em;
    box-shadow: 5px 5px 20px #84999A;

}

#goLeft1 {
    left: 40px;
    top: 40%;
    display: block;
}

#goRight1 {
    right: 40px;
    top: 40%;
    display: block;
}

#goRight-Straight1 {
    bottom: 25%;
    left: 45%;
    display: none;
}

#goLeft-Straight1 {
    bottom: 25%;
    left: 45%;
    display: none;
}

#goRight-Straight2 {
    bottom: 25%;
    left: 45%;
    display: none;
}

#goLeft-Straight2 {
    bottom: 25%;
    left: 45%;
    display: none;
}

#goRight-Right2 {
    right: 40px;
    top: 40%;
    display: none;
}

#goLeft-Straight3 {
    bottom: 25%;
    left: 45%;
    display: none;
}

#goBack {
    bottom: 25%;
    left: 45%;
    display: none;
}

.practice {
    text-transform: uppercase;
    position: relative;
    height:50px;
    font-size:50px;
    top:270px;
    left:800px;
    font-family:Ayuthaya;
    color:white;
    background-color: #22d65b;
    width:300px;
    text-align:center;
    height:80px;
    border-radius:10px;
    padding-top:5px;
}
.boss {
    position: relative;
    left:150px;
    top:180px;
    text-transform: uppercase;
    height:50px;
    font-size:50px;
    font-family:Ayuthaya;
    color:white;
    background-color: #22d65b;
    width:300px;
    text-align:center;
    height:80px;
    border-radius:10px;
    padding-top:5px;

}


.hudBase {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px 30px;
}

.hudInv {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
    color: #bbb;
}

.hudObj {
    width: 35%;
    display: inline-block;
    padding: 10px;
}

#invTitle {
display: inline;

}

.invSlot1 {
	display: inline;
	width: 80px;
	height: 80px;
	border: 5px dashed #bbb;
	padding: 10px 10px;
    margin: 20px;
    font-size:0.6em;
}
